.ios, .md, .wp {
	tab-question {
		ion-content {
			ion-card {
				ion-card-title {
					color: $title-color;
				}
				p {
					color: $paragraph-color
				}
			}
		}
	}
}


tab-question .answer-input
{
	color: grey;
	font-size: 1.2em;
}
