.ios,.md,.wp {
  page-quest {
    ion-header {
      ion-navbar {
        background-color: #d7c15a;
      }
      div#profileBar {
        text-color: white;
      }
    }
    ion-content {
      h1 {
        color: $title-color;
        text-align: center;
        margin-bottom: 5%;
      }

      ion-list {
        ion-card {
          -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.4);
          -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.4);
          box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.4);

          h1 {
            text-align: left;
          }
          p {
            color: $paragraph-color;
          }
        }
      }
    }
  }
}
