<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Quest
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <!--<button ion-button (click)="getSuggestions()">Get suggestions</button>-->
  <ion-list *ngFor="let q of availableQuests">
    <ion-item (click)="openQuest(q)">
      <h1>({{q?.header.Id}}) {{q?.header.Name}}</h1>
      <p>{{q?.header.Description}}</p>
    </ion-item>
  </ion-list>
  <ion-card>
    <ion-card-content>
      <ion-card-title>
        {{currentQuestion?.Question}}
      </ion-card-title>
      <p>
        {{currentQuestion?.Question}}
      </p>
    </ion-card-content>
  </ion-card>
  <ion-list *ngFor="let o of currentQuestion?.Options">
    <ion-item>
      <ion-row center>
        {{o?.Choice}}
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
