<ion-tabs>
  <ion-tab tabIcon="contacts" [root]="yourTeamsTab"></ion-tab>
  <ion-tab tabIcon="add" [root]="newTeamTab"></ion-tab>
  <ion-tab tabIcon="list" [root]="listTeamTab"></ion-tab>
</ion-tabs>

<!--
<ion-content padding>
	<h1>Teams</h1>
  <ion-row>
    <ion-col>
      <button ion-button (click)="selectedPage = 0">
        Your teams
      </button>
    </ion-col>
    <ion-col>
      <button ion-button (click)="selectedPage = 1">
        New team
      </button>
    </ion-col>
  </ion-row>
  <div *ngIf="0 == selectedPage">
    <h2>Your teams:</h2>

  </div>

  <div *ngIf="1 == selectedPage">

  </div>

  <div *ngIf="2 == selectedPage">
    <h2>Team members of {{selectedTeam?.Name}}:</h2>
    <button ion-button (click)="LeaveTeam()">
      Leave team
    </button>
    <button ion-button (click)="ChooseTeam()">
      Choose team
    </button>
    <ion-list>
      <ion-row>
        <ion-col>
          Name
        </ion-col>
        <ion-col>
          Email address
        </ion-col>
      </ion-row>
      <ion-item-divider></ion-item-divider>
      <ion-row *ngFor="let m of myTeamMembers">
        <ion-col>
          {{m.Name}}
        </ion-col>
        <ion-col>
          {{m.Email}}
        </ion-col>
      </ion-row>
    </ion-list>
    <ion-item-divider></ion-item-divider>
    <ion-list>
      <ion-row>
        <ion-col>
          Add member
        </ion-col>
        <ion-col>
          <ion-input placeholder="Email address" type="email" [(ngModel)]="addedEmail"></ion-input>
        </ion-col>
        <ion-col>
          <button ion-button (click)="AddExistingMember()">
            <ion-icon name="add">
            </ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-list>
  </div>
</ion-content>-->
